* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

.header {
  overflow: hidden;
  background-color: #DAE1E7;
  padding: 10px 10px;
}


.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #00919e78;
  color: black;
  border-radius: 50px;
  transition: 1s;
}

.header a.active {
  background-color: #27496db5;
  color: white;
}

.header-right {
  float: right;
  margin-right: 5px;
}

@media screen and (max-width: 500px) {
  .header a {
      float: none;
      display: block;
      text-align: left;
  }

  .header-right {
      float: none;
  }
}

.footer {
  position: relative;
  bottom: 0;
  background-color: #DAE1E7;
  color: black;
  text-align: center;
}

.footer a {
  float: left;
  color: black;
  padding: 12px;
  text-decoration: none;
  font-size: 11px;
  line-height: 25px;
}


.footer_center {
  cursor: pointer;
  overflow: hidden;
  width: 15%;
  text-align: center;
  margin-left: 42.5%;
}

.boxxx {
  margin-top: 12%;
  width: 90%;
  text-align: right;
}

.info{
  width: 30%;
  margin-left: 8%;
}

.call{
  margin-top: -12%;
  right: 20px;
  margin-left: 70%;
  border: 2px solid #27496D;
  width: 30%;
  border-radius: 50px;
  text-align: center;
  color: white;
  background-color: #00909E;
  padding: 1px 50px;
  transition: 1s;
}

.call:hover{
  color: black;
  border: 2px solid;
  font-weight: bold;
}


#mck1:hover{
  width: 300px;
}
#mck2:hover{
  width: 300px;
}
#mck3:hover{
  width: 300px;
}