* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(227, 253, 253, 0.5);
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

.header {
  overflow: hidden;
  padding: 10px 10px;
  background-color: #cbf1f5;
  a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    .logo {
      font-size: 25px;
      font-weight: bold;
    }
    .active {
      background-color: #27496db5;
      color: white;
    }
    &:hover {
      background-color: #00919e78;
      color: black;
      border-radius: 50px;
      transition: 1s;
    }
  }

  .header-right {
    float: right;
    margin-right: 5px;
  }
}

@media screen and (max-width: 768px) {
  .main-box-container {
    flex-direction: column;
    .info {
      text-align: center;
      .info-container {
        .h2-div {
          width: 100%;
        }
      }
    }
  }
}

.main-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  .main-box-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      .info-container {
        h2 {
          font-size: 20px;
        }
        .h4-div {
        }
      }
    }
    .left-box-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 40%;

      .search {
        margin-bottom: 2%;
      }

      .border {
        border: 2px #00909e solid;
        width: 60%;
      }
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  // position: absolute;
  // bottom: 0;
  // color: black;
  // text-align: center;
  // background-color: #71C9CE;

  // a {
  //     float: left;
  //     color: black;
  //     padding: 12px;
  //     text-decoration: none;
  //     font-size: 11px;
  //     line-height: 25px;
  // }
  // .footer-center {
  //     cursor: pointer;
  //     overflow: hidden;
  //     width: 15%;
  //     text-align: center;
  //     margin-left: 42.5%;
  // }
  .footer-container {
    display: flex;
    align-items: center;

    .phone {
      width: 45%;
    }
  }
}
